<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2320905044760698</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2320905044760698</string>
	<key>FacebookDisplayName</key>
	<string>Screen Recorder</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1992773114106162~9215447794</string>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Book.ttf</string>
		<string>CircularStd-Black.ttf</string>
		<string>CircularStd-Bold.ttf</string>
		<string>CircularStd-Medium.ttf</string>
		<string>Helvetica.ttf</string>
		<string>Helvetica-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
